/* Toolbar & Filter Panel */
.toolbar,
#filterPanel {
  background-color: #2e2e2e;
  color: white;
  padding: 15px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.toolbar input,
.toolbar select {
  padding: 6px;
  border: none;
  border-radius: 4px;
}

#filterPanel input {
  margin-left: 10px;
  margin-right: 20px;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
