/* Toolbar & Filter Panel */
.toolbar,
#filterPanel {
  background-color: #2e2e2e;
  color: white;
  padding: 15px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.toolbar input,
.toolbar select {
  padding: 6px;
  border: none;
  border-radius: 4px;
}

#filterPanel input {
  margin-left: 10px;
  margin-right: 20px;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* .sort-paginate-container {
  display: flex;
  padding: 10px;
  background-color: orange;
  gap: 20px;
} */

.sort-paginate-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
  padding: 15px;
}

.left-controls,
.right-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.right-controls button {
  background-color: green;
  color: white;
  padding: 8px 16px;
}


