/* Buttons */
button {
  padding: 8px 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Add Button */
#addEmployeeBtn {
  background-color: #28a745;
  color: white;
  float: right;
  margin-bottom: 15px;
}

#addEmployeeBtn:hover {
  background-color: #218838;
}
